.justify-content-end{
    background-color: #001529 ;
    border:none ;
    justify-content: flex-end;
  }
  .dropdownToogle{
    background-color: #001529 !important;
    border:none !important ;
    color: #fef;
    
  }
.profile-wrapper{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(4px, 36px, 0px);
    min-width: 2rem !important;
    margin: 0px -49px !important;
}
