h1,
p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.register-form {
  max-width: 350px;
  margin: auto;
}
.page-not-found {
  text-align: center;
  padding: 112px 0px
}
@import '~antd/dist/antd.css';
